.form-title {
    display: block;
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.form-group {
    margin-bottom: 20px;
}

.form-field {
    display: block;
    position: relative;
    &:not(:last-child) {
    margin-bottom: 10px;
}
}


.form-lable {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;
    bottom: 11px;
    left: 15px;
}

.form-message {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
}

.form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 713px;
    background: #188ce8;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding: 10px 52px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
    &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: #757575;
            user-select: none;
        }
        &-link {
            text-underline-position: auto;
            color: #2196f3;
        }
}

.form-icon-unchecked {
    opacity: 1;
}

.form-icon-checked {
    opacity: 0;
}

.form-checkbox:checked+.form-checkbox-icon .form-icon-unchecked {
    opacity: 0;
}

.form-checkbox:checked+.form-checkbox-icon .form-icon-checked {
    opacity: 1;
}

.form-checkbox {
    position: absolute;
    opacity: 0;
    transform: scale(0);
}