.subscribe {
    display: flex;
}

.subscribe-btn-footer {
    cursor: pointer;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-left: 28px;
    padding-bottom: 10px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.form-agreement-footer {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
}

.icon-send {
    fill: #ffffff;
    margin-left: 10px;
}

.form-subscribe-footer {
    width: 358px;
    height: 50px;
    padding: 0 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    color: #ffffff;
}

.form-input:focus,
.form-input:hover {
    border: 1px solid #2196f3;
}

.form-input:focus+.form-icon,
.form-input:hover+.form-icon {
    fill: #2196f3;
}

.form-message:hover,
.form-message:focus {
    border: 1px solid #2196f3;
}