.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


.section {
    padding: 94px 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.icons-header,
.social-icons,
.social-iist,
.customers__icons {
    fill: currentColor;
}