.customers__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.customers__list {
    display: flex;
    gap: 30px;
}

.customers__icons {
    color: #afb1b8;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,&:focus {
                color: #2196f3;
                border: 1px solid #2196f3;
            }
}


.customers__clients {
    fill: currentColor;
}