.container.footer {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: left;
    align-items: baseline;
  }
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.footer.socials-iist {
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0%;
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.call-to-action {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.first-cta-block {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-left: 70px;
    margin-right: auto;
  }
}

/*.second-cta-block {
  @media screen and (min-width: 481px) and (max-width: 1199px) {
    margin-top: 60px;
  }
}*/

.footer.socials-icon.list {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;

  @media screen and (min-width: 768px) {
  }
}

.cta-block {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
