.header-container {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
  margin: auto;
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}
